<% @tracks.each do |track| %>
  <div class="message">
    <h3> Track Title: <%= track.track_title %><small>    Author:      <%= track.author %></small> </h3>

  </div>
<% end %>

<a href="/new">Post a new track... </a>
