<form method="post" action="/newtrack">
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="Author">
  </div>
  <div>
    <label>Track Title:</label>
    <input type="text" name="track_title" value="Track Title">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
